/*Stylesheet by Will P. Campbell,2021*/
#mapid {height: 650px; 
        width:80%;
        border:5px solid black;
	    border-radius: 1px;
        display: inline-block;
      }

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;

}

#panel2 {
  width: 16%;
  padding: 20px;
  display: inline-block;
  vertical-align:auto

}